body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#image-track>.image {
    width: 40vmin;
    height: 56 vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}